<div class="container p-4 mt-2">

	<h1>Bonjour</h1>
	<small>Une demande de réinitialisation de mot de passe a été effectuée pour le site resavo.fr Veuillez cliquer sur le lien suivant :</small>
	{{ resetUrl}}
</div>
