{% extends 'base.html.twig' %}

{% block body %}
	<div class="container padding-bottom-3x mb-2 mt-5">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10">
				<div class="forgot">
					<h2>Mot de passe oublié?</h2>
					<p>Changez votre mot de passe en trois étapes faciles. Cela vous aidera à sécuriser votre mot de passe!</p>
					<ol class="list-unstyled">
						<li>
							<span class="text-primary text-medium">1.
							</span>Entrez votre adresse email.</li>
						<li>
							<span class="text-primary text-medium">2.
							</span>Un lien temporaire vous sera envoyé</li>
						<li>
							<span class="text-primary text-medium">3.
							</span>Utilisez le lien pour réinitialiser votre mot de passe</li>
					</ol>
				</div>
				{{ form(emailForm) }}

				</div>
			</div>
		</div>
	{% endblock %}
