<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    {% block header %}
        {% include('site/_header.html.twig') %}
    {% endblock header %}
    {% block google %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142299397-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142299397-1');
</script>
    {% endblock %}
    
</head>
<body>

{% block body %}<!--menu navigation-->


{% endblock %}

{% include('site/_footer.html.twig') %}

</body>
{% block javascripts %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top-70}, 900);
        });
        if (typeof RokSprocket == 'undefined') RokSprocket = {};
    Object.merge(RokSprocket, {
        SiteURL: 'O2GAM-spa.fr',
        CurrentURL: 'O2GAM-spa.fr',
        AjaxURL: 'O2GAM-spa.fr'
    });

    window.addEvent('domready', function () {
        RokSprocket.instances.strips = new RokSprocket.Strips();
    });

    window.addEvent('domready', function () {
        RokSprocket.instances.strips.attach(205, '{"animation":"fadeDelay","autoplay":"0","delay":"5"}');
    });
    window.addEvent('load', function () {
        var overridden = false;
        if (!overridden && window.G5 && window.G5.offcanvas) {
            var mod = document.getElement('[data-strips="205"]');
            mod.addEvents({
                touchstart: function () {
                    window.G5.offcanvas.detach();
                },
                touchend: function () {
                    window.G5.offcanvas.attach();
                }
            });
            overridden = true;
        }

    });

    window.addEvent('domready', function () {
        RokSprocket.instances.strips.attach(210, '{"animation":"fadeDelay","autoplay":"0","delay":"5"}');
    });
    window.addEvent('load', function () {
        var overridden = false;
        if (!overridden && window.G5 && window.G5.offcanvas) {
            var mod = document.getElement('[data-strips="210"]');
            mod.addEvents({
                touchstart: function () {
                    window.G5.offcanvas.detach();
                },
                touchend: function () {
                    window.G5.offcanvas.attach();
                }
            });
            overridden = true;
        }

    });

    window.addEvent('domready', function () {
        RokSprocket.instances.slideshow = new RokSprocket.Slideshow();
    });

    window.addEvent('domready', function () {
        RokSprocket.instances.slideshow.attach(166, '{"animation":"crossfade","autoplay":"0","delay":"5"}');
    });
    window.addEvent('load', function () {
        var overridden = false;
        if (!overridden && window.G5 && window.G5.offcanvas) {
            var mod = document.getElement('[data-slideshow="166"]');
            mod.addEvents({
                touchstart: function () {
                    window.G5.offcanvas.detach();
                },
                touchend: function () {
                    window.G5.offcanvas.attach();
                }
            });
            overridden = true;
        }

    });
    });
</script>
{% endblock javascripts %}

</html>
