{% extends 'base.html.twig' %}

{% block body %}
	<div class="container pl-3 mt-3">
		<h2>Réeinitialiser le Mot de passe</h2>

		<div class="container padding-bottom-3x mb-2 mt-5">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">
					<div class="forgot">
						<h2>Avez-vous oublié votre mot de passe?</h2>
						<ol class="list-unstyled">
							<li>
								<span class="text-primary text-medium">1.
								</span>Entrez votre adresse email.</li>
							<li>
								<span class="text-primary text-medium">2.
								</span>Vous recevrez un lien temporaire
							</li>
							<li>
								<span class="text-primary text-medium">3.
								</span>cliquez sur le lien pour réinitialiser votre mot de passe</li>
						</ol>
					</div>
					<form class="card mt-4">
						<div class="card-body">
							<div class="form-group">
								<label for="email-for-pass">Enter your email address</label>
								<input class="form-control" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Enter the email address you used during the registration on BBBootstrap.com. Then we'll email a link to this address.</small>
							</div>
						</div>
						<div class="card-footer">
							<button class="btn btn-success" type="submit">Get New Password</button>
							<button class="btn btn-danger" type="submit">Back to Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
