{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pl-3 mt-3">
        <h2>Modification du mot de passe</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="col-1">
            <input class="btn btn-primary" type="submit" value="valider">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
